h1{color: deeppink;}
h1{border-style: double;}
h1{text-align: center;}
/* h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;} */

h2{
    color:blueviolet;
}
h2:active {color:red} /* When clicked the color will turn yellow */


ol{background-color: salmon;}

img#CRAP {height: 30%; width: 30%;}

